<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dados da IA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-card-title>{{ tipo === 'descrever' ? 'Descrição da Imagem' : 'Objetos na Imagem' }}</ion-card-title>
        <ion-button (click)="closeModal()" color="danger" size="small">X</ion-button>
      </ion-row>
    </ion-card-header>
    <ion-card-content *ngIf="tipo === 'descrever'">
      {{descricao}} <br>
      <strong>Confiança: </strong>
      <ion-badge class="direita">
        {{confianca | percent}}
      </ion-badge>
    </ion-card-content>

    <div *ngIf="tipo === 'tags';">
      <ion-item *ngFor="let item of tags" lines="full">
        <ion-label>{{item.name | titlecase}}</ion-label>
        <ion-label>
          <ion-badge>{{item.confidence | percent}}</ion-badge>
        </ion-label>
      </ion-item>
    </div>

    <div *ngIf="tipo === 'descrever';">
      <ion-item *ngFor="let item of tags" lines="full">
        <ion-label>{{item | titlecase}}</ion-label>
      </ion-item>
    </div>
  </ion-card>

</ion-content>